* {
    font-family: Iosevka Nerd Font;
    font-size: 18px;
	border-radius: 0;
	padding: 0;
}

window#waybar {
	background-color: #141415;
	color: #cdcdcd;
}

window#waybar.empty #window {
    opacity: 0;
}

#workspaces button {
    background-color: transparent;
    color: #cdcdcd;
}

#workspaces button:hover {
    background: #333738
}

#workspaces button.focused {
	color: #141415;
	background-color: #90a0b5;
}

#workspaces button.urgent {
    background-color: #d8647e;
    color: #141415;
}

#clock,
#battery.charging, 
#battery.plugged,
#battery.full,
#backlight,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#idle_inhibitor,
#custom-media,
#power-profiles-daemon,
#window,
#scratchpad {
    color: #cdcdcd;
    background-color: #141415;
    padding: 0 10px;
}

#window, #tray, #idle_inhibitor, #power-profiles-daemon {
	background-color: #252530
}

#idle_inhibitor.activated {
	background-color: #aeaed1;
	color: #141415;
}

#mode {
    background-color: #d8647e;
	color: #141415;
}

#custom-media {
	background-color: #aeaed1;
	color: #141415;
}

#scratchpad:hover, 
#idle_inhibitor:hover,
#custom-media:hover,
#power-profiles-daemon:hover {
	background-color: #606079;
}

#power-profiles-daemon.performance {
    color: #d8647e;
}

#power-profiles-daemon.balanced {
    color: #6e94b2;
}

#power-profiles-daemon.power-saver {
    color: #7fa563;
}

#battery{
    background-color: #7fa563;
    color: #141415;
    padding: 0 10px;
}

#battery.warning:not(.charging) {
    background-color: #e0a363;
    color: #141415;
    padding: 0 10px;
}

@keyframes blink {
    to {
        background-color: #141415;
        color: #cdcdcd;
    }
}

#battery.critical:not(.charging) {
    background-color: #d8647e;
    color: #141415;
    padding: 0 10px;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
